.nav{
    display: flex;
    position: fixed;
    padding: 15px;
    justify-content: space-between;
    width: 100%;
 
    height: 32px;
    z-index: 1;
}

.nav-logo{
    position: fixed;
    left: 20px;
    object-fit: contain;
    width: 120px;
}

.nav-avatar{
    position: fixed;
    object-fit: contain;
    width: 40px;
    right: 20px;
}

.nav-black{
    background-color: #111;
}